<div class="card">
  <div class="card-header">
    <%= @show_specific_gossip.title %> - Potin n°<%= @show_specific_gossip.id %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @show_specific_gossip.content %></p>
      <footer class="blockquote-footer"><%= link_to "#{@show_specific_gossip.user.first_name}" %> <%= link_to "#{@show_specific_gossip.user.last_name}" %></footer>
    </blockquote>
  </div>
</div>


